<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>task02</title>
</head>
<body>
    <form th:action="@{/ex/task02}" method="post" th:object="${taskVO}" name="form">
        <input type="text" th:field="*{num}" placeholder="학생번호">
        <input type="text" th:field="*{kor}" placeholder="국어점수">
        <input type="text" th:field="*{eng}" placeholder="영어점수">
        <input type="text" th:field="*{math}" placeholder="수학점수">
        <button>등록</button>
    </form>
<!--    <h1 th:text="${taskVO.kor}"></h1>-->
</body>
</html>